body {
    background: #dfdfdf;
    color: rgb(34, 34, 34);
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
}

.foto-principal {
    width: 200px;
    border: 2px solid #FFFFFF; /*shorthand*/
    border-radius: 50%;
    margin: 30px 30px 0 30px;
    /*padding: 10px; */
    box-shadow: 0px 0px 10px #959595;
}

h1 {
    margin-bottom: 0;
    margin-top: 10px;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
}

h2 {
    margin-top: 0;
    font-style: italic;
    color: #737373;
    font-weight: 100;
    letter-spacing: -1px;
}

h4 {
    margin-bottom: 5px;
}

h5 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 100;
    font-style: italic;
}

p {
    line-height: 25px;
    margin-top: 0;
}

.social-icons {
    width: 25px;
}

.social-links {
    text-decoration: none;
}

.github {
    margin: 0 15px 0 15px;
}

.jobs-list {
    list-style: none;
    padding-left: 20px;
}

.footer {
    margin-top: 40px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}